.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
}

/* Estilos de la escala de blanco a negro */
.gradient_container {
  background: rgb(36, 35, 35);
  border-radius: 10px;
  padding: 1.5rem;
  color: #ffffff;
}

/* Estilos de la nota */
.note_input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.note_input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 16px;
  width: auto; 
  height: auto;
  min-width: 80%; 
  max-width: 97%; 
  box-sizing: border-box; 
}

.note_button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 1rem 6rem;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.note_list {
  list-style: none;
  padding: 0;
}

.note_item {
  border-radius: 5px;
  border:1px solid grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem;
  height: auto;
  word-break: break-word;
}

.note_checkbox {
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.note-text {
  flex: 1;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note_delete_button {
  border-radius: 5px;
  background-color: red;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  flex-shrink: 0;
  margin: 10px;
}

.order{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width:360px) and (max-width: 720px){
  .note_button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 90%;
  }

  .note_input {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 16px;
    width: auto;
    height: auto;
    min-width: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }
}
  


